body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: goldenrod;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* MJM custom styling */
.column {
    float: left;
    width: 33.33%;
}

.container {
    width: 100%;
}

.padit {
    text-align: center;
    margin-left:auto;
    margin-right:auto; 
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2.2rem;
    }
}
